/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
*/

@keyframes cursor-menu {
  from {
    left: -16px;
  }
}

@keyframes scale-heart {
  from {
    scale: 1.5;
  }
}

@keyframes opacity-sparks {
  from {
    opacity: 1;
  }
}

.core {
  fill: var(--main-background-color);
  transition: fill 0.3s 0.03s;
}

.card__icon-button:hover .core {
  fill: var(--main-color);
  transition: fill 0.3s;
}

.card__icon-button:active .core {
  fill: var(--main-color-animation-heart);
  transition: fill 0.3s;
}

.like-icon.is-liked .core {
  fill: var(--main-color-animation-heart);
  transition: fill 0.3s;
}

.main-body {
  fill: var(--main-background-color);
  transition: 0.3s;
}

.card__icon-button:hover .main-body {
  fill: var(--main-color);
  transition: 0.3s 0.05s;
}

.card__icon-button:active .main-body {
  fill: var(--main-color-animation-heart);
  transition: 0.3s 0.05s;
}

.like-icon.is-liked .main-body {
  fill: var(--main-color-animation-heart);
}

.contour {
  fill: var(--main-color);
  transition: 0.1s linear;
}

.like-icon.is-liked .contour {
  fill: var(--main-color-animation-heart);
  transition: 0.3s 0.06s;
}

.heart {
  transform: scale(1);
  transform-origin: center;
}

.like-icon.is-liked .heart {
  fill: var(--main-color-animation-heart);
  animation: scale-heart 0.3s 0.1s ease-in alternate;
}

.sparks {
  opacity: 0;
  fill: var(--main-color-animation-heart);
}

.like-icon.is-liked .sparks {
  animation: opacity-sparks 0.3s 0.3s ease-in alternate;
}
