.filter_blur {
  filter: blur(9px);
}

.filter_brightness {
  filter: brightness(144%);
}

.filter_contrast {
  filter: contrast(140%);
}

.filter_invert_contrast {
  filter:   contrast(140%) invert(86%);
}

.filter_hue_rotate {
  filter: hue-rotate(-180deg);
}

.filter_invert {
  filter: invert(86%);
}

.filter_saturate {
  filter: saturate(190%);
}

.filter_sepia {
  filter: sepia(95%);
}
