.fotter_button {
  position: relative;
  margin-block: 50px 105px;
  border: solid 2px;
  padding: 15px 20px;
  outline: none;
  background-color: var(--main-background-color);
  cursor: pointer;
}

.fotter_icon-floppy {
  width: 21px;
  height: 21px;
  fill: var(--button-text-color);
  mix-blend-mode: difference;
}
.fotter_button-text {
  position: relative;
  color: var(--button-text-color);
  font-family: var(--accent-font-family);
  font-size: 14px;
  mix-blend-mode: difference;
}
