@media (width <= 375px) {
  .container_width {
    inline-size: 100%;
  }
  .section_icon-watermark {
    right: 13px;
  }
  .save_button {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .save_button-icon_floppy {
    width: 28px;
    height: 28px;
  }

  .save_button-text {
    padding-inline-start: 2px;
  }
}
