/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

:root {
  font-family: var(--main-font-family);
  font-size: 18px;
  font-variation-settings: "wght" var(--main-font-family-regular);
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--main-color);
  background-attachment: fixed;
  background-image: repeating-linear-gradient(
      to right,
      var(--gradient-color) 0px 2px,
      transparent 2px 4px
    ),
    repeating-linear-gradient(to bottom,var(--gradient-color) 0px 2px, transparent 2px 4px),
    linear-gradient(
      to bottom,
      var(--gradient-color-bright),
      var(--gradient-color-dim)
    );
  background-size: cover;
  min-inline-size: 320px;
  min-block-size: 100dvb;
}

.container_width {
  inline-size: clamp(20.833rem, 14.476rem + 30.516vw, 38.889rem);
}

.fill_button::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--main-color);
  transition: 0.3s ease;
  transform: scaleX(0);
  transform-origin: left center;
}

.fill_button:hover::before {
  transform: scaleX(1);
}

.shadow_button {
  transition: box-shadow 0.3s ease;
}

.shadow_button:focus-visible {
  box-shadow: 2px 2px 0 0 var(--main-color);
}


