/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

:root {
  font-family: var(--main-font-family);
  font-size: 18px;
  font-variation-settings: "wght" var(--main-font-family-regular);
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--main-color);

  background-image: repeating-linear-gradient(
      to right,
      #000 0px 2px,
      transparent 2px 4px
    ),
    repeating-linear-gradient(to bottom, #000 0px 2px, transparent 2px 4px),
    linear-gradient(
      to bottom,
      var(--gradient-color-bright),
      var(--gradient-color-dim)
    );
  background-size: cover;
  min-inline-size: 320px;
  min-block-size: 100dvb;
}

.container_width {
  inline-size: calc(50vw - 20px);
}

@media (width <= 375px) {
  .container_width {
    inline-size: 100%;
  }
}

.header {
  display: inline-flex;
  flex-direction: column;
  justify-content: end;
  height: calc(40vh - 16px);
  min-height: 327px;
  margin-block: 100px;
  border: 2px solid;
  font-family: var(--accent-font-family);
  text-transform: uppercase;
  background-color: var(--main-background-color);
}

.header__title {
  font-size: clamp(2.722rem, 2.409rem + 1.502vw, 3.611rem);
  text-align: center;
}

.header__subtitle {
  justify-self: end;
  padding-block-start: 20px;
  font-size: clamp(0.778rem, 0.602rem + 0.845vw, 1.278rem);
  text-align: center;
}
.header__theme-menu {
  padding: 25px;
  font-size: 14px;
}

.theme-menu__button {
  border: 0px solid;
  padding: 0px;
  outline: none;
  text-transform: uppercase;
  background-color: inherit;
  transition: opacity 0.3s ease;
  cursor: pointer;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 14px;
}

.theme-menu__button:disabled:before {
  content: "▶";
  position: absolute;
  bottom: 0;
  left: -20px;
  animation: cursor-menu 0.5s infinite ease-in-out alternate;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu {
  display: flex;
  justify-content: center;
  padding-inline: 20px;
}

.theme-menu__item {
  position: relative;
  margin-inline-start: 18px;
}

.theme-menu__button::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0px;
  display: block;
  width: 100%;
  height: 1px;
  background: currentColor;
  transition: transform 0.3s ease;
  transform: scaleX(0);
  transform-origin: left bottom;
}

.theme-menu__button:focus-visible:after {
  opacity: 0.6;
  transform: scaleX(1);
}

.theme-menu__button:hover,
.theme-menu__button:focus {
  opacity: 0.6;
}

.main {
  display: inline-flex;
  font-family: var(--main-font-family);
  background-color: var(--main-background-color);
  font-variation-settings: "wght" var(--main-font-family-regular);
}

.section {
  border: 2px solid;
}

.section_title {
  border-bottom: 2px solid;
  padding: 5px 24px 5px 10px;
  font-size: 18px;
  background-color: var(--main-background-color);
  font-variation-settings: "wght" var(--main-font-family-bold);
}

.section_icon-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  vertical-align: bottom;
}

.section_icon {
  position: relative;
  aspect-ratio: 1 / 1;
}

.section_icon-watermark {
  position: absolute;
  top: 25px;
  right: 25px;
  opacity: 0.5;
  font-family: var(--accent-font-family);
  font-size: 14px;
  text-shadow: -1px 0 var(--shadow-watermark-color),
    0 1px var(--shadow-watermark-color), 1px 0 var(--shadow-watermark-color),
    0 -1px var(--shadow-watermark-color);
  mix-blend-mode: hard-light;
}

@supports ((-webkit-text-stroke: 1px var(--shadow-watermark-color))) {
  .section_icon-watermark  {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--shadow-watermark-color);
  }
}
.section_texts {
  display: flex;
  flex-direction: column;
  gap: 27px;
  border-top: 2px solid;
  padding: 25px;

}

.section_buttons {
  display: flex;
  justify-content: end;
  gap: 1px;
  padding-bottom: 25px;
  padding-inline-end: 25px;
  font-size: 14px;
}

.button__text {
  position: relative;
  /* text-transform: uppercase; */
  display: block;
  color: var(--button-text-color);
  font-family: var(--accent-font-family);
  mix-blend-mode: difference;
}

.card__like-button {
  position: relative;
  /* padding-inline: 30px; */
  min-width: 130px;
  border: solid 2px;
  padding-inline: 5px;
  padding-block: 0;
  outline: none;
  background-color: inherit;
  cursor: pointer;
}

.card__icon-button {
  height: 38px;
  border: solid 2px transparent;
  padding-inline: 4px;
  outline: none;
  background-color: inherit;
  transition: border 0.3s;
  cursor: pointer;
}

.card__icon-button:focus-visible {
  border: 2px solid;
}

.fotter_button {
  position: relative;
  margin-block: 50px 105px;
  border: solid 2px;
  padding: 15px 20px;
  outline: none;
  background-color: var(--main-background-color);
  cursor: pointer;
}

.footer {
  /* font-size: 14px; 
   font-family: var(--accent-font-family); */
}

.fotter_icon-floppy {
  width: 21px;
  height: 21px;
  fill: var(--button-text-color);
  mix-blend-mode: difference;
}
.fotter_button-text {
  position: relative;
  color: var(--button-text-color);
  font-family: var(--accent-font-family);
  font-size: 14px;
  mix-blend-mode: difference;
}

.fill_button::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--main-color);
  transition: 0.3s ease;
  transform: scaleX(0);
  transform-origin: left center;
}

.fill_button:hover::before {
  transform: scaleX(1);
}

.shadow_button {
  transition: box-shadow 0.3s ease;
}

.shadow_button:focus,
.shadow_button:focus-visible {
  box-shadow: 2px 2px 0 0 var(--main-color);
}

.save_dialog {
  width: 23%;
  min-width: 341px;
  padding: 0px;
  color: var(--main-color);
  font-family: var(--accent-font-family);
  background-color: var(--main-background-color);
}

.save_dialog_title-text {
  font-size: 14px;
  line-height: 150%;
  /* display: block; */
  text-transform: uppercase;
}

.save_dialog_title {
  display: grid;
  grid-template-columns: max-content 1fr;
  align-items: center;
  gap: 20px;
  padding: 30px;
}

.save_dialog_icon {
  width: 39px;
  height: 39px;
  fill: var(--main-color);
}

.save_dialog_button {
  position: relative;
  width: 100%;
  max-width: 293px;
  margin-block-end: 30px;
  border: 2px solid;
  padding-block: 13px;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}
.save_dialog_button_text {
  color: var(--button-text-color);
  font-size: 14px;
  text-transform: uppercase;
  mix-blend-mode: difference;
}

.save_dialog[open] {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.save_dialog::backdrop {
  background-color: rgb(0 0 0 / 0.3);
  backdrop-filter: blur(7px);
}
